<header class="navbar navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">正念</a>
    </div><!-- navbar-header -->
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/about">关于</a>
        </li>
      </ul>
      <span class="navbar-text navbar-right">
        {% if user.is_authenticated %}
        欢迎 {{ user.username }}
        <a class="navbar-link" href="{% url "logout" %}">登出</a>
        {% else %}
        <a class="navbar-link" href="{% url "login" %}">登录</a>
        {% endif %}
      </span>
    </nav>
  </div><!-- container -->
</header>
