{% load book_tags %}
<div class="btn-toolbar pull-right" role="toolbar"
ng-controller="ToolbarCtrl">
  <div class="btn-group">
    <button class="btn btn-default" ng-disabled="disabled"
    ng-click="stared(true, '{{ book.id | toStr }}')" ng-hide="isStar">
      <i class="glyphicon glyphicon-star-empty"></i>
      关注
    </button>
    <button class="btn btn-default active" ng-disabled="disabled"
    ng-click="stared(false, '{{ book.id | toStr }}')" ng-show="isStar">
      <i class="glyphicon glyphicon-star"></i>
      取消关注
    </button>
    <a class="btn btn-success count" href="/book/{{ book.id | toStr }}/stargazers">
      {% verbatim %}
      {{ starCount }}
      {% endverbatim %}
    </a>
  </div><!-- btn-group -->
  <div class="btn-group">
    <button class="btn btn-default"
    ng-hide="$parent.isEdit" ng-model="$parent.isEdit" btn-checkbox>
      <i class="glyphicon glyphicon-pencil"></i>
      编辑批注
    </button>
    <button class="btn btn-default"
    ng-show="$parent.isEdit" ng-model="$parent.isEdit" btn-checkbox>
      <i class="glyphicon glyphicon-pencil"></i>
      阅读批注
    </button>
    <button class="btn btn-success count">
      {{ book | user_count }}
    </button>
  </div><!-- btn-group -->
</div><!-- btn-toolbar -->
<h1>
  <i class="glyphicon glyphicon-book"></i>
  <a href="/book/{{ book.id | toStr }}">
    {{ book.title }}
  </a>
</h1>
