<div class="btn-toolbar pull-right" role="toolbar"
ng-controller="ToolbarCtrl">
  <div class="btn-group">
    {% verbatim %}
    <button class="btn btn-default" ng-model="isStar" btn-checkbox>
      <i class="glyphicon glyphicon-star"></i>
      {{ starLabel }}
    </button>
    {% endverbatim %}
    <button class="btn btn-success count">
      {{ book.stars.count }}
    </button>
  </div><!-- btn-group -->
  <div class="btn-group">
    <button class="btn btn-default">
      <i class="glyphicon glyphicon-pencil"></i>
      批注
    </button>
    <button class="btn btn-success count">
      {{ book.stars.count }}
    </button>
  </div><!-- btn-group -->
</div><!-- btn-toolbar -->
<h1>
  <i class="glyphicon glyphicon-book"></i>
  <a href="/book/{{ book.id }}">
    {{ book.title }}
  </a>
</h1>
