<!-- 标注编辑 -->
<div class="modal-header">
  <h3>
    <i class="glyphicon glyphicon-pushpin"></i>
    标注
  </h3>
</div><!-- modal-header -->
<div class="modal-body">
  <form name="formPut" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="urlName">
        标注
      </label>
      <div class="col-sm-8">
        <textarea class="form-control" ng-model="ann"></textarea>
      </div><!-- col-sm-8 -->
    </div><!-- form-group -->
  </form>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-click="del()" class="btn btn-danger">
    <i class="glyphicon glyphicon-trash"></i>
    删除
  </button>
  <button ng-click="save(ann)" class="btn btn-primary">
    <i class="glyphicon glyphicon-floppy-disk"></i>
    保存
  </button>
  <button ng-click="close()" class="btn btn-warning">
    取消
  </button>
</div><!-- model-footer -->
