<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="book" ng-csp>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - 正念阅读</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/base.min.css" %}" rel="stylesheet" type="text/css"/>
    {% block css %}{% endblock %}
  </head>
  <body ng-controller="BookCtrl">
    {% include 'includes/nav.html' %}
    <div class="container">
      {% block top %}{% endblock %}
      {% block content %}{% endblock %}
    </div><!-- container -->
    <footer class="container">
      <hr/>
      正念
    </footer>
    <script type="text/javascript">
      var CSRF = '{{ csrf_token }}';
      {% block init_js %}{% endblock %}
    </script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/angular.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/ui-bootstrap-tpls.min.js" %}"></script>
    <script src="{% static "js/array.min.js" %}"></script>
    <script src="{% static "js/chapter.min.js" %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
