{% extends "base.html" %}
{% load staticfiles %}
{% load book_tags %}
{% block title %}用户{% endblock %}
{% block content %}
<h1>
  <a href="/user">
  用户
  </a>
</h1>
<h2>
  <a href="/user/{{ user.id | toStr }}">
    {{ user.first_name }}
  </a>
</h2>
<h3>阅读</h3>
<ol>
  {% for s in stars %}
  <li>
    <a href="/book/{{ s.book.id | toStr }}">{{ s.book.title }}</a>
    <span>
      {{ s.book.stars.count }}
      <span class="glyphicon glyphicon-star"></span>
    </span>
  </li>
  {% endfor %}
</ol>
<h3>关注</h3>
<ol>
  {% for f in follows %}
  <li>
    <a href="/user/{{ f.user.id | toStr }}">{{ f.user.first_name }}</a>
    批注
    <a href="/book/{{ f.book.id | toStr }}">{{ f.book.title }}</a>
  </li>
  {% endfor %}
</ol>
{% endblock %}
