<div class="btn-group" role="group" aria-label="工具">
  <button type="button" class="btn btn-default"
  ng-click="new()">新增</button>
</div>
<table ng-table="tableParams" show-filter="true"
class="table table-hover table-condensed">
  <tbody ng-repeat="d in $data">
    <tr>
      <td data-title="'书籍'" sortable="'book'" filter="{'book': 'select'}"
      filter-data="selectBooks()">
        {{ d.bookTitle }}
      </td>
      <td class="btn-link" data-title="'标题'" sortable="'title'" filter="{'title': 'text'}">
        <a ui-sref="view({sid:d.id})">
          {{ d.title }}
        </a>
      </td>
      <td data-title="'顺序'" sortable="'order'" filter="{'order': 'text'}">
        {{ d.order }}
      </td>
      <td data-title="'创建'" sortable="'ca'">
        <small>{{ d.ca | date:"yyyy-MM-dd HH:mm:ss" }}</small>
      </td>
      <td data-title="'修改'" sortable="'ua'">
        <small>{{ d.ua | date:"yyyy-MM-dd HH:mm:ss" }}</small>
      </td>
      <td>
        <button class="btn btn-primary" ng-click="update(d)">
          修改
        </button>
      </td>
    </tr>
  </tbody>
</table>
