[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}
/* book */
.count {
  font-weight: bold;
}
/* 页脚 */
footer {
  text-align: center;
}
/* 段落 */
p {
  text-indent: 2em;
}
.a1, .a2 {
  /*border-style: solid;
  border-right-width: 2px;
  border-bottom-width: 3px;
  border-top-width: 2px;
  border-left-width: 2px;
   */
padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px;
border: 5px;
}
.a1 {
  background-color: #F1ADAD;
  border-color: #F1ADAD;
}
.a2 {
  background-color: #B8F1AD;
  border-color: #B8F1AD;
}
.b1 {
  background-color: #F1ADAD;
}
.b2 {
  background-color: #B8F1AD;
}
.l1 {
  width: 303.6445290137795px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: rgb(214, 0, 4);
  position: absolute;
  z-index: 1001;
  top: 54.99999999999998px;
  left: 3.177735493110167px;
  -webkit-transform: rotate(0.30092023436042514rad);
}

.dropdown {
  position: absolute;
  z-index: 2000;
}
.ul_l, .ul_d {
  border-width: 0px 0px 3px 0px;
  border-color: red;
  position: absolute;
  z-index: 1000;
}
/* 下划线 重点 */
.ul_l {
  border-style: solid;
}
/* 波浪线 精辟 */
.ul_d {
  border-style: double;
}
/* 圆点  疑难 */
