<div class="container">
  <h2>测试标题</h2>
</div>
<div class="container">
  <div class="page-header">
    <h2>经典推荐</h2>
    <p>这些经典书籍</p>
  </div>
  <div class="row">
{[{ with .Data }]}
{[{ range . }]}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>
            <a href="http://codeguide.bootcss.com" title="弟子规是" >
{[{ .Title }]}<br><small>作者: {[{ .Author }]}</small>
            </a>
          </h3>
          <p>{[{ .Summary }]}</p>
        </div><!-- caption -->
        </div><!-- thumbnail -->
    </div><!-- col -->
{[{ end }]}
{[{ end }]}
  </div><!-- row -->
</div><!-- container -->
