<div class="container">
  <h2>测试标题</h2>
</div>
<div class="container">
  <div class="page-header">
    <h2>经典推荐</h2>
    <p>这些经典书籍</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 ">
      <div class="thumbnail">
        <a href="http://codeguide.bootcss.com" title="Bootstrap 编码规范"><img class="lazy" src="http://static.bootcss.com/www/assets/img/null.png?v2" width="300" height="150" data-src="http://static.bootcss.com/www/assets/img/codeguide.png" alt="Headroom.js"></a>
        <div class="caption">
          <h3>
            <a href="http://codeguide.bootcss.com" title="弟子规是" >
            弟子规<br><small>by @mdo</small>
            </a>
          </h3>
          <p>弟子规是中华传统</p>
        </div><!-- caption -->
        </div><!-- thumbnail -->
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
