<div class="container">
  <div class="list-group col-xs-2">
    <a ui-sref="book" class="list-group-item"
    ui-sref-active="active">
      书籍
    </a>
    <a ui-sref="section" class="list-group-item"
    ui-sref-active="active">
      章节
    </a>
  </div>
  <div ui-view class="col-xs-10"></div>
</div><!-- container -->

