<div class="container">
  <div class="list-group col-xs-2">
    <a href="#/book" class="list-group-item"
    ng-class="{'active':name == 'book'}">
      书籍
    </a>
  </div>
  <div ng-view class="col-xs-10"></div>
</div><!-- container -->

